@import "../styles/variables.scss";

.button {
  font-size: 1.2rem;
  padding: 0.4rem 1rem;
  background-color: $navy-gray-chain;
  border-radius: 50px;
  border: none;
  border: $navy-chain-outline solid 2px;
}
.grid-container {
  display: grid;
  position: relative;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  &__element {
    border: solid 1px $navy-chain-outline;
    background-color: $navy-gray-chain;
  }
  &__ship {
    position: absolute;
    height: 10%;
    z-index: 0;
    &--rotated {
      transform-origin: top left;
      transform: rotate(90deg) translate(0, -100%);
    }
  }
}
.ship-index {
  &-0 {
    width: 50%;
  }
  &-1 {
    width: 40%;
  }
  &-2 {
    width: 30%;
  }
  &-3,
  &-4 {
    width: 20%;
  }
  &-5,
  &-6 {
    width: 10%;
  }
}
.clickable {
  cursor: pointer;
  transition: 300ms;
  &:hover {
    transform: scale(1.08);
    transition: 300ms;
  }
}
