@import "./variables.scss";
@import "./animations.scss";

.placement-screen {
  display: grid;
  height: 100%;
  font-family: "Mil Stencil";
  align-items: center;
  grid-template-rows: repeat(3, 1fr) 5.5fr 1fr;
  place-items: center;
}
.welcome-msg {
  font-size: 2rem;
  color: $navy-chain-outline;
}
.directions {
  color: $navy-gray-chain;
  margin: 0 2rem;
  text-align: center;
}
.button-field {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  .flip-button {
    transition: 500ms;
    z-index: 4;
    &--flipped {
      transition: 500ms;
      transform: rotate(90deg);
    }
  }
  .crazy-spin {
    &:hover,
    :focus {
      animation: crazySpin 100ms;
      animation-iteration-count: 3;
    }
  }
}
.placement-grid {
  width: 95vmin;
  height: 95vmin;
  max-width: 500px;
  max-height: 500px;
}
@media screen and (orientation: landscape) and (max-height: 500px) {
  .placement-screen {
    grid-template-rows: 0.7fr auto auto;
    grid-template-columns: 1fr 1.5fr 1fr;
  }
  .welcome-msg {
    grid-column: 1/-1;
  }
  .directions {
    grid-row: 2/-1;
  }
  .placement-grid {
    grid-row: 2/-1;
    width: 65vmin;
    height: 65vmin;
    align-self: start;
  }
  .continue {
    align-self: start;
  }
}
@media screen and (min-width: 500px) and (min-height: 376px) {
  .welcome-msg {
    font-size: 4rem;
  }
  .directions {
    font-size: 1.5rem;
  }
}
