@font-face {
  font-family: "Special Elite";
  src: url("../fonts/SpecialElite-Regular.ttf");
}
@font-face {
  font-family: "Mil Stencil";
  src: url("../fonts/BlackOpsOne-Regular.ttf");
}

$navy-blue: #062d6a;
$navy-gold: #feb932;
$navy-brown-outline: #765f3a;
$navy-gray-chain: #cacaca;
$navy-chain-outline: #969696;
$navy-brown-eagle: #73391f;
